---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href="https://codixfy.com" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="keyword1, keyword2" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@codixfy" />
<meta name="twitter:creator" content="@joni0108" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://codixfy.com/og.png" />

<meta name="og:image" content="https://codixfy.com/og.png" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content="https://codixfy.com" />
<meta name="og:site_name" content="Codixfy | Hire a programmer" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="en_US" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
